네트워크 : 통신
-- Local DataBase 의 한계가 존재
1. 동기화가 어렵다 >> (핸드폰, 테블릿 동시에 사용한다면 같은 데이터를 불러오기 어렵다)

-- 서버와 통신
>> 해당 URL(URI)로 요청을 한다.
>> 인증정보를 보낸다.
>> JSON 형식으로 사용해서 데이터를 보낸다.

JSON
[] - list
{} - object

JSON Parsing
-> JSON 형식의 문자열을 코틀린이나 자바가 이해할 수 있게 변형하는 과정

Serializable (직렬화)
-> 자바 시스템 내부에서 사용할 수 있도록 byte 형태로 데이터를 변경 하는 것

Request Type
- get : 정보를 요청
- post : 정보를 추가하는 요청
- delete : 정보를 삭제 요청
- put : 정보 수정 요청 ( 전체 데이터를 교체, 필드 일부만 전달 할 경우 전달한 필드 외 모두 Null 처리 된다, or 초기값 처리 )
- patch : 정보 수정 요청 ( 자원에 부분만 교체, 교체시 일부만 전달 하면 다른 필드들은 상관이 없다.)

2. 안드로이드에는 Main 쓰레드가 UI 전문이다.

3. 쓰레드와 쓰레가간의 데이터를 주고 받을 수가 없다.
- handler 사용
